h1{
   font-family: 'gill Sans', 'gill Sans MT ', Calibri, 'Trebuchet MS', sans serif;
   font-size: 20px;
   color: aquamarine;
}

p{color: bisque;

}

.mijnafbeelding{
    width: 100px;
    height: 100px;
}